# Node.js
node_modules/

# npm
npm-debug.log
*.lock
node_modules/
package-lock.json
/yarn-error.log
yarn-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# build output

.tgz
/dist
/build